/NetPyNE/exIzh.dat
/NeuroML2/LEMS_SimpleNet_nrn.py
/NeuroML2/LEMS_M1_nrn.py
/NetPyNE/M1/M1.net.pov
/NetPyNE/M1/M1.net_movie.ini
/NeuroML2/*_nrn.py
/NetPyNE/HybridTut/izhi2007b.mod0
/.travis.yml~
*.pyc
/NeuroML2/exIzh.dat
x86_64
/NeuroML2/*_netpyne.py
/NeuroML2/*_main.json
/NeuroML2/RS.cell.json
/NeuroML2/RS.mod
/NeuroML2/RS_Iext.input.json
/NeuroML2/RS_Iext.mod
/NeuroML2/RS_Iext_inputdefinition.py
/NeuroML2/RS_celldefinition.py
/NeuroML2/hh_v.dat
/NeuroML2/hhcell.cell.json
/NeuroML2/pulseGen1.input.json
/NeuroML2/pulseGen2.input.json
/NetPyNE/HybridSmall/*.mod
/NetPyNE/Vsoma_cell_0.dat
*~
/NetPyNE/HybridSmall/HybridSmall.net.nml
/NetPyNE/M1/M1.net.nml

/NeuroML2/*.svg
/NeuroML2/*.dat
/NeuroML2/*.hoc
/NeuroML2/*.mod


/NetPyNE/HybridSmall/*.mod
/NetPyNE/HybridSmall/*.nml
/NetPyNE/HybridSmall/*_nrn.py
/NetPyNE/HybridSmall/*.hoc
/NetPyNE/HybridSmall/LEMS*.xml
/NetPyNE/HybridSmall/*.dat

/NetPyNE/HHSmall/*.mod
/NetPyNE/HHSmall/*.nml
/NetPyNE/HHSmall/*_nrn.py
/NetPyNE/HHSmall/*.hoc
/NetPyNE/HHSmall/LEMS*.xml
/NetPyNE/HHSmall/*.dat

/NetPyNE/HybridTut/*.mod
/NetPyNE/HybridTut/*.nml
/NetPyNE/HybridTut/*_nrn.py
/NetPyNE/HybridTut/*.hoc
/NetPyNE/HybridTut/LEMS*.xml
/NetPyNE/HybridTut/*.dat

/NetPyNE/M1/*.mod
/NetPyNE/M1/*.nml
/NetPyNE/M1/*_nrn.py
/NetPyNE/M1/*.hoc
/NetPyNE/M1/LEMS*.xml
/NetPyNE/M1/*.dat
/NetPyNE/M1/*.png
/NetPyNE/M1/*.svg
/NetPyNE/HHSmall/HHSmall.net.nml0
/NetPyNE/HybridTut/HybridTut.net.png
/NetPyNE/HybridTut/HybridTut.net.pov
/NetPyNE/HybridTut/HybridTut.net.svg

NetPyNE/M1/movie
/NeuroML2/NET_2007One.net.nml
/NetPyNE/LEMS_HH_Simulation_netpyne.py
/NetPyNE/LEMS_SimpleNet_netpyne.py
/NetPyNE/poissonFiringSyn_inputdefinition.py
/NetPyNE/pulseGen1_inputdefinition.py
/NetPyNE/pulseGen2_inputdefinition.py
/NeuroML2/LEMS_HH_Simulation_netpyne.py
/NeuroML2/LEMS_HH_Simulation_nrn.py
/NeuroML2/LEMS_SimpleNet_netpyne.py
/NeuroML2/LEMS_SimpleNet_netpyne.py_main.json
/NeuroML2/poissonFiringSyn.input.json
/NeuroML2/poissonFiringSyn_inputdefinition.py
/NeuroML2/pulseGen1_inputdefinition.py
/NeuroML2/pulseGen2_inputdefinition.py
/NEURON/GapsExample/SampleCellGroup_0.dat
/NEURON/GapsExample/SampleCellGroup_1.dat
/NEURON/GapsExample/simulator.props
/NEURON/GapsExample/time.dat
/NetPyNE/LEMS_NML2_Ex19a_GapJunctionInstances_netpyne.py
/NeuroML2/NET_NML2_Ex19a_GapJunctionInstances.net.nml
/NetPyNE/GapJunctions/ex19_v.dat
/NeuroML2/NET_GJ.net.nml
/NetPyNE/LEMS_GJ_netpyne.py
/NeuroML2/scaling/*.hoc
/NeuroML2/scaling/*.mod
/NeuroML2/scaling/*.dat
/NeuroML2/scaling/*.png

/NeuroML2/scaling/*.pov

/NeuroML2/scaling/*_10*
/NeuroML2/scaling/*.spikes
/NeuroML2/scaling/*nrn.py
/NeuroML2/scaling/*netpyne.py
