/NeuroML2/LEMS_HybridSmall_nrn.py
/NeuroML2/LEMS_HHSmall_nrn.py
/NetPyNE/HybridTut/izhi2007b.mod0
/.travis.yml~
*.pyc
/NeuroML2/exIzh.dat
x86_64
/NeuroML2/LEMS_2007One_netpyne.py
/NeuroML2/LEMS_2007One_netpyne.py_main.json
/NeuroML2/LEMS_HH_Simulation_netpyne.py_main.json
/NeuroML2/RS.cell.json
/NeuroML2/RS.mod
/NeuroML2/RS_Iext.input.json
/NeuroML2/RS_Iext.mod
/NeuroML2/RS_Iext_inputdefinition.py
/NeuroML2/RS_celldefinition.py
/NeuroML2/hh_v.dat
/NeuroML2/hhcell.cell.json
/NeuroML2/pulseGen1.input.json
/NeuroML2/pulseGen2.input.json
/NetPyNE/HybridSmall/*.mod
/NetPyNE/Vsoma_cell_0.dat
*~
/NetPyNE/HybridSmall/HybridSmall.net.nml
/NetPyNE/M1/M1.net.nml

/NeuroML2/*.svg
/NeuroML2/*.dat
/NeuroML2/*.hoc
/NeuroML2/*.mod


/NetPyNE/HybridSmall/*.mod
/NetPyNE/HybridSmall/*.nml
/NetPyNE/HybridSmall/*_nrn.py
/NetPyNE/HybridSmall/*.hoc
/NetPyNE/HybridSmall/LEMS*.xml
/NetPyNE/HybridSmall/*.dat

/NetPyNE/HHSmall/*.mod
/NetPyNE/HHSmall/*.nml
/NetPyNE/HHSmall/*_nrn.py
/NetPyNE/HHSmall/*.hoc
/NetPyNE/HHSmall/LEMS*.xml
/NetPyNE/HHSmall/*.dat

/NetPyNE/HybridTut/*.mod
/NetPyNE/HybridTut/*.nml
/NetPyNE/HybridTut/*_nrn.py
/NetPyNE/HybridTut/*.hoc
/NetPyNE/HybridTut/LEMS*.xml
/NetPyNE/HybridTut/*.dat

/NetPyNE/M1/*.mod
/NetPyNE/M1/*.nml
/NetPyNE/M1/*_nrn.py
/NetPyNE/M1/*.hoc
/NetPyNE/M1/LEMS*.xml
/NetPyNE/M1/*.dat
